body {
    background-color: #222f3e;
    color: aliceblue;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: aliceblue;
}
.btn-outline-info {
    background-color: #0dcaf0!important;
    color: black;
}

.py-50 {
 padding: 60px 0;
}

ul li {
    list-style: none;
}

footer.bg-dark {
    padding-top: 120px;
    padding-bottom: 50px;
}
img.locationIcon {
    height: 25px;
}
p.copyright {
    color: #c9c9c9;
}

/* notfound 404 */
.notfound img {height: 40vh;}

.notfound {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .reviews {
        padding-bottom: 0;
    }
    .container.ourInfo.py-50 {
        text-align: center;
    }
}